<h1>User info</h1>
 <div class="profile-container">
  <%= image_tag @user.get_profile_image %>
  <%= @user.name %>
  <% if @user.id == current_user.id %>
    <p><%= link_to "Update User", edit_user_path(@user) %></p>
  <% end %>
  <p>introduction</p>
 </div>


<h1>New book</h1>
<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :opinion %>

  <%= f.submit 'Create Book' %>
<% end %>



<h1>Users</h1>
<%= link_to user_path(user_id) do %>
<% end %>
<%= image_tag @user.get_profile_image %>
 <%= @user.name %>
 <% if @user.id == current_user.id %>
  <p><%= link_to "Update User", edit_user_path(@user) %></p>
 <% end %>
