<div class="profile-container">

  <h1><%= @user.name %></h1>
  <%= image_tag @user.get_profile_image %>

  <% if @user.id == current_user.id %>
    <p><%= link_to "Update User", edit_user_path(@user) %></p>
  <% end %>
</div>


<h1>New book</h1>
<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :opinion %>

  <%= f.submit 'Create Book' %>
<% end %>





<h1>Books</h1>
 <% @books.each do |book| %>
  <div>
    <%= link_to book_path(book.id) do %>
    <% end %>
    <tr>
     <td><%= image_tag book.user.get_profile_image(100,100) %></td>
     <p>Name：<%= book.user.name %></p>
     <td>Title：<%= book.title %></td>
     <td>Opinion：<%= book.opinion %></td>
     <td><%= link_to 'Edit', edit_book_path(book) %></td>
     <td><%= link_to "Destroy", book_path(book), method: :delete, "data-confirm" => "本当に消しますか？" %></td>
    </tr>
  </div>
<% end %>
